<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center">
            New User
        </h1>
        <div class="col-6 offset-3">
            <form action="/Users" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label"><strong>Name</strong></label>
                    <input class="form-control" type="text" id="name" name="user[name]" placeholder="ABC XYZ" required/>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a Name.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="rollno" class="form-label"><strong>RollNo</strong></label>
                    <input class="form-control" type="text" id="rollno" name="user[rollno]" placeholder="2010xxxx" required />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a Rollno.
                    </div>
                </div>
                
                
                <!-- <div class="mb-3">
                    <label class="form-label" for="image" class="form-label"><strong>Image URL</strong></label>
                    <input class="form-control" type="text" id="image" name="user[image]" required/>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid URL.
                    </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="branch" class="form-label"><strong>Branch</strong></label>
                    <input class="form-control" type="text" id="branch" name="user[branch]" required/>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide your branch.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="semester" class="form-label"><strong>Current Semester</strong></label>
                    <input class="form-control" type="text" id="semester" name="user[semester]" required />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your cuurent semester.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="clubs"><strong>Proficiency</strong></label>
                    <select class="form-select" id="clubs" aria-label="clubs" name="user[club]" required>
                    <% for(let club of clubs){ %>
                        <option value="<%=club%>"><%=club%></option>
                        <% } %>
                  </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please select a club.
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label class="form-label" for="state" class="form-label"><strong>State</strong></label>
                        <input class="form-control" type="text" id="state" name="user[state]" required/>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label for="cgpa"><strong>CGPA</strong></label>
                        <div class="input-group mb-3">
                            <input type="text" id="cgpa" class="form-control" placeholder="8.00" aria-label="cgpa" name="user[cgpa]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a valid cgpa.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description" class="form-label"><strong>About User</strong></label>
                    <textarea class="form-control" type="text" id="description" name="user[description]" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a About you.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label"><strong>Upload Images</strong></label>
                    <div class="form-file custom-file">
                        <label for="image" class="form-label custom-file-label"></label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                      </div>
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-success">Add user</button>
                </div>
            </form>
            <a class="btn btn-warning mb-3" href="/Users">All Users</a>
        </div>
    </div>